*{
background: #808080;
}
#wrapper{
width: 1000px;
margin: 15px auto;
text-align: left;
}
h1 {
font: bold 40px arial;
background: #808080;
}
p, li {
font: 20px arial;
margin: 10px;
padding: 5px 30px;
background: #808080;
}
