#wrapper{
width: 1000px;
margin: 15px auto;
text-align: left;
}
#myname h1{
font: 30px arial;
color: #000000;
margin: 10px 10px;
width: 800px;
height: 70px;
border: 1px solid #000000;
background: #CCCCCC;
}
#myphoto{
width: 100%;
}
#main_menu li{
display: inline-block;
list-style: none;
padding: 5px;
font: bold 14px arial;
}
#main_section{
float: left;
width: 660px;
margin: 10px 10px;
padding: 5px;
font: 17px arial;
}
#second img{
width: 25%;
}
#second header{
font-size: 12px;
padding: 10px;
margin: 10px;
}
#main_aside {
float: left;
width: 220px;
margin: 10px 0px;
padding: 20px;
background: #CCCCCC;
}
#main_aside img {
width: 70%;
}
